.container
{
    transition: all 800ms var(--cubic-bezier);
}
.animate
{
    transition: all 800ms var(--cubic-bezier);
    transform: translateX(-80%);
    filter: opacity(0);
}
.animate.right
{
    transform: translateX(80%);
}
.animate.show
{
    filter: opacity(1);
    transform: translateX(0);
}
.animate.delay-1
{
    transition-delay: 200ms;
}
.animate.delay-2
{
    transition-delay: 300ms;
}
.animate.delay-3
{
    transition-delay: 400ms;
}
.animate.delay-4
{
    transition-delay: 500ms;
}
.animate.delay-5
{
    transition-delay: 600ms;
}
.animate.delay-6
{
    transition-delay: 700ms;
}

@media(prefers-reduced-motion)
{
    .animate
    {
        transition: none;
    }
}