@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --border-color:#ffffff1a;
    --dark-color:#151925;
    --accent-color:#3373fc;
    --accent-color-dark:#234da8;
    --white-color:#ffffff;
    --perma-white-color:#ffffff;
    --perma-dark-color:#151925;
    --cubic-bezier: cubic-bezier(.1,0,.06,1);
}
*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
main
{
    overflow-x: hidden;/* for right side animations to work */
    background:radial-gradient(rgba(255,255,255,.07) 8%,transparent 8%);

    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    transition: background-position 1s var(--cubic-bezier);
}
.lightTheme main
{
    background:radial-gradient(rgba(0, 0, 0, 0.071) 8%,transparent 8%);
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
}
html
{
    scroll-behavior: smooth;
    color: var(--white-color);
}
.dark-color
{
    background-color: var(--dark-color);
}
.accent-color-text
{
    color: var(--accent-color);
}
.accent-color
{
    color: var(--perma-white-color);
    background-color: var(--accent-color);
}
.flex
{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.flex.col
{
    flex-direction: column;
}
.rounded
{
    border-radius: 10rem;
}
.transition
{
    transition: all 200ms ease-in-out;
}
.transition.snappy
{
    transition: all 200ms cubic-bezier(1,.1,.1,1);
}
.shadow
{
    box-shadow: 0px 14px 44px -8px rgba(0,0,0,.2);
}
.section-title
{
    /* color: var(--accent-color); */
    font-weight: 900;
    font-size: 4rem;
    padding: 4rem 2rem 2rem 2rem;
}
.section-title::after
{
    content: ".";
    color: var(--accent-color);
}
.section-title::before
{
    content: "";

    height: 3px;
    width:40%;

    background-color: var(--accent-color);

    position: absolute;
    transform: translateY(5rem);
}
@media(max-width:850px)
{
    .section-title
    {
        font-size: 2rem;
    }
    .section-title::before
    {
        transform: translateY(2.5rem);
    }
}
.container
{
    /* min-height: 100vh; */
    padding: 2rem 5rem;
}
@media(max-width:600px)
{
    .container
    {
        padding: 0;
    }
}
a
{
    text-decoration: none;
    color: inherit;
}

.button
{
    user-select:none;

    font-size: 1rem;
    font-weight: 800;
    border-radius: 2rem;
    
    margin-top: 1rem;
    padding: .8rem 2.5rem;

    transition: all .3s ease-in-out;
}
.button:active
{
    transform: scale(.9);
}
.button.outline
{
    border: 3px solid var(--perma-white-color);
    color: var(--perma-white-color);
}
.button.outline:hover
{
    color: var(--perma-dark-color);
    background-color: var(--perma-white-color);
}
.button.accent
{
    background-color: var(--accent-color);
    color: var(--perma-white-color);
}
.button.accent:hover
{
    background-color: var(--accent-color-dark);
}

.cards-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card
{
    font-weight: 900;
    background-color: var(--dark-color);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    
    margin: .5rem;
    width: 25rem;
    padding: 3rem;
    overflow: hidden;
}
.card.center
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
}
.card:has(.background)
{
    color: var(--perma-white-color);
    background-color: var(--perma-dark-color);
}
.card .background
{
    top: 0;
    left: 0;
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    opacity: .1;

    transition: all 200ms var(--cubic-bezier);
}
.card:hover .background
{
    transform: scale(1.2);
    opacity: .3;
}
.lightTheme .card .background
{
    opacity: .5;
}
.lightTheme .card:hover .background
{
    transform: scale(1.2);
    opacity: .75;
}
.card > .card-title
{
    font-size: 2rem;
}
.card > .card-subtitle
{
    font-size: 1rem;
    color: var(--accent-color);
}
.card > .card-subtitle2
{
    font-weight: 300;
    font-size: 1rem;
    /* color: var(--accent-color); */
    opacity: .8;
}
.card > .card-content
{
    font-weight: 400;
    padding: 1rem;
    opacity: .6;
}
@media(max-width:500px)
{
    .card
    {
        padding: 2rem;
    }
    .card > .card-title
    {
        font-size: 1.5rem;
    }
    .card > .card-subtitle
    {
        font-size: .9rem;
    }
    .card > .card-subtitle2
    {
        font-size: .9rem;
    }
    .card > .card-content
    {
        font-size: .8rem;
        padding: 0;
        margin-top: .5rem;
    }
}